<h1>Viewers</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Keywords</th>
      <th>Viewed at</th>
    </tr>
  </thead>

  <tbody>
    <% @viewers.each do |viewer| %>
      <tr>
        <td><%= viewer.id %></td>
        <td><%= viewer.name %></td>
        <td><%= viewer.created_at.in_time_zone("Asia/Karachi") %></td>
        <td><%= link_to 'Destroy', remove_path(viewer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<hr/>
<h3>Generate Tracking URL</h3>
<input type="text" placeholder="Tracking keyword" id="tracking_keyword" />
<div id="tracker_url"></div>
<hr/>
<script>
  setTimeout(function(){
      $("#tracking_keyword").keyup(function(){
          $("#tracker_url").html("http://<%= request.host_with_port %>/shah/"+ $(this).val() + "/data.gif");
      });
  },1000);
</script>

