<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @viewer.name %>
  <strong>Date:</strong>
  <%= @viewer.created_at %>
</p>

<p>
  <strong>Email:</strong>
  <%= @viewer.email %>
</p>

<%= link_to 'Edit', edit_viewer_path(@viewer) %> |
<%= link_to 'Back', viewers_path %>
